name: SonarCloud analysis

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

permissions:
  pull-requests: read

jobs:
  DemoSonarCloud:
    runs-on: ubuntu-latest

    steps:
      - name: Analyze with SonarCloud
        uses: SonarSource/sonarcloud-github-action@master

      - name: Build and analyze with SonarCloud
        run: |
          cd Sourcecode
          gcc -o Programme Programme.c
          sonar-scanner
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

      - name: Print SONAR_TOKEN
        run: |
          echo "Sonar token is: ${{ secrets.SONAR_TOKEN }}"

      - name: Additional arguments for SonarCloud scanner
        run: |
          echo "Running SonarCloud with additional arguments"
          sonar-scanner -Dsonar.projectKey=TestCloud -Dsonar.organization=matt-vaude
