name: SonarCloud analysis

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

permissions:
  pull-requests: read

jobs:
  DemoSonarCloud:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      
      - name: Analyze with SonarCloud
        uses: sonarsource/sonarcloud-github-action@master
        env:
          GITHUB_TOKEN: ${{ secrets.GIT_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        
      - name: Build and analyze with SonarCloud
        run: |
          cd Sourcecode
          gcc -o Programme Programme.c
          sonar-scanner
        env:
          GITHUB_TOKEN: ${{ secrets.GIT_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

      - name: Print SONAR_TOKEN
        run: |
          echo "Sonar token is: 45d772bf4bb78ef738bf075d75015beec9bbf002 "

      - name: Additional arguments for SonarCloud scanner
        run: |
          echo "Runing SonarCloud with additional arguments"
          sonar-scanner -Dsonar.projectKey=TestCloud -Dsonar.organization=matt-vaude
